In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gdown

In [15]:
# Loading data from GDrive.
file_id = "1IlyXO5rXkLi28Z-o-WWCjaFa_rLDrKls"
url = f"https://drive.google.com/uc?id={file_id}"
file_extension = "downloaded_file.csv"
gdown.download(url, file_extension, quiet=False)
df = pd.read_csv(file_extension, sep=",")

Downloading...
From (original): https://drive.google.com/uc?id=1IlyXO5rXkLi28Z-o-WWCjaFa_rLDrKls
From (redirected): https://drive.google.com/uc?id=1IlyXO5rXkLi28Z-o-WWCjaFa_rLDrKls&confirm=t&uuid=3abc676b-d41e-4c14-9ea8-b049eb4a6024
To: C:\Users\Konrad\Desktop\Magisterka\Kod\2024-mgr-sluzba-cywilna\Python\Code\downloaded_file.csv
100%|██████████| 253M/253M [00:07<00:00, 33.1MB/s]

In [3]:
df.head()

,ad_id,result,job_field,position_category,position,education_level,work_time,vacancies,city,institution,...,year_announced,promocja,kandydaci,salary_for_position,offer_salary,women_percentage,fluctuation,employment_contract,voivodeship,district
0,130994,1,vet,stanowiska samodzielne,inspektor weterynaryjny,3,0.5,1,Olesno,Powiatowy Inspektorat Weterynarii w Oleśnie,...,2023,1.0,1.0,NaN,nie podano wynagrodzenia,0.666667,0.064683,1.19,16,8
1,130970,0,tech/construction,stanowiska samodzielne,starszy specjalista,3,1.0,1,Bydgoszcz,Wojewódzki Inspektorat Nadzoru Budowlanego w B...,...,2023,0.0,4.0,NaN,nie podano wynagrodzenia,0.580645,0.036010,0.50,4,61
2,130898,1,vet,stanowiska samodzielne,asystent,2,1.0,1,Chrzanów,Powiatowy Inspektorat Weterynarii w Chrzanowie,...,2023,0.0,18.0,NaN,"4400,00 zł brutto",0.833333,0.101215,NaN,12,3
3,130919,0,uniformed services,stanowiska samodzielne,specjalista,4,1.0,1,Warszawa,Komenda Stołeczna Policji w Warszawie,...,2023,NaN,NaN,NaN,"4940,34 zł brutto",NaN,NaN,NaN,14,65
4,130837,1,vet,stanowiska samodzielne,inspektor weterynaryjny,3,1.0,1,Świdnica,Powiatowy Inspektorat Weterynarii w Świdnicy,...,2023,1.0,2.0,10268.888889,nie podano wynagrodzenia,0.833333,0.000000,3.00,2,19

In [18]:
# Grupowanie i agregowanie danych
df = df[['district', 'institution', 'year_announced', 'result', 'education_level', 'work_time', 'vacancies', 'views', 'promocja', 'kandydaci', 'salary_for_position', 'women_percentage', 'fluctuation', 'employment_contract', 'voivodeship']]

df_grouped = df.groupby(['district', 'voivodeship', 'institution', 'year_announced']).agg('mean').reset_index()
df_grouped.head(100)

,district,voivodeship,institution,year_announced,result,education_level,work_time,vacancies,views,promocja,kandydaci,salary_for_position,women_percentage,fluctuation,employment_contract
0,1,2,Archiwum Państwowe we Wrocławiu,2018,1.0,1.0,1.0,1.0,2792.0,NaN,12.285714,4675.055928,0.642857,0.10326,17.88
1,1,2,Główny Inspektorat Transportu Drogowego w Wars...,2018,1.0,2.0,1.0,1.0,2546.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,Główny Inspektorat Transportu Drogowego w Wars...,2021,1.0,1.0,1.0,2.0,1288.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,Główny Inspektorat Transportu Drogowego w Wars...,2022,1.0,1.0,1.0,1.0,1455.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,Izba Administracji Skarbowej we Wrocławiu,2017,1.0,2.0,1.0,1.0,2606.5,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_grouped['filled_vacancies_per_all'] = df_grouped['result'] / df_grouped['vacancies']

In [21]:
df_grouped.head(100)

,district,voivodeship,institution,year_announced,result,education_level,work_time,vacancies,views,promocja,kandydaci,salary_for_position,women_percentage,fluctuation,employment_contract,filled_vacancies_per_all
0,1,2,Archiwum Państwowe we Wrocławiu,2018,1.000000,1.000000,1.00,1.0,2792.000000,NaN,12.285714,4675.055928,0.642857,0.103260,17.88,1.000000
1,1,2,Główny Inspektorat Transportu Drogowego w Wars...,2018,1.000000,2.000000,1.00,1.0,2546.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
2,1,2,Główny Inspektorat Transportu Drogowego w Wars...,2021,1.000000,1.000000,1.00,2.0,1288.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.500000
3,1,2,Główny Inspektorat Transportu Drogowego w Wars...,2022,1.000000,1.000000,1.00,1.0,1455.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
4,1,2,Izba Administracji Skarbowej we Wrocławiu,2017,1.000000,2.000000,1.00,1.0,2606.500000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,10,Komenda Powiatowa Policji w Bełchatowie,2017,1.000000,2.000000,1.00,1.0,3561.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
96,1,10,Komenda Powiatowa Policji w Bełchatowie,2018,1.000000,2.000000,1.00,1.0,3024.000000,NaN,12.000000,NaN,0.904762,0.084317,1.00,1.000000
97,1,10,Komenda Powiatowa Policji w Bełchatowie,2019,0.833333,2.166667,1.00,1.0,2861.666667,1.0,16.400000,NaN,0.913043,0.000000,1.00,0.833333
98,1,10,Komenda Powiatowa Policji w Bełchatowie,2020,1.000000,2.000000,0.75,1.0,2922.000000,NaN,17.500000,NaN,0.875000,0.000000,1.00,1.000000
99,1,10,Komenda Powiatowa Policji w Bełchatowie,2021,1.000000,3.000000,1.00,1.0,2365.000000,1.0,21.000000,NaN,0.916667,0.041667,1.00,1.000000

In [22]:
# Calculate correlation between 'salary_for_position' and 'result'
correlation = df_grouped[['salary_for_position', 'result']].corr()

# Display the correlation matrix
print(correlation)

                     salary_for_position    result
salary_for_position             1.000000  0.014655
result                          0.014655  1.000000